
 #  Data Types in Python

## PETE 2061 Lab 2

<a id='top'></a>

<a id='data-type'></a>
## Topics Covered   
<font color=blue>
* [Numbers](#numbers)
* [Python "math" package](#math)
* [Strings](#string)
* [Lists](#list)
* [Tuples](#tuple)
* [Dictionaries](#dic)   
 </font>
 <br>

<a id='numbers'></a>
## Numbers (Integers, Real and Complex Numbers)

Considering that Python is dynamically-typed, it is very easy to work with integers (whole numbers), floating-point numbers (real numbers) and complex numbers. The Python function "type()" will return the data type for any Python variable.

In [5]:
i = 3 #Good programming practice is to name integers: i,j,k, etc
type(i)

int

In [7]:
y1,y2 = 3.2,5.1e3
type(y1)

float

In [16]:
stoiipA = 1e6
stoiipB = 2e6

print(f"stoiipA = {stoiipA} stb     stoiipB = {stoiipB} stb ")
#print(f"The types of y1 and y2 are {type(y1)} and {type(y2)}, respectively")

stoiipA = 1000000.0 stb     stoiipB = 2000000.0 stb

In [4]:
isBoolean = True
type(isBoolean)

bool

## Conversion between data types
You can also convert variables (and values) from one data type to another

In [20]:
int(3.3)  #converts floating-point number "3.3" to integer "3"
float(3)

3.0

In [21]:
x = float(i)
j = int(x) 
print(f"x = {x}, j = {j} and their data types are {type(x)} and {type(j)}, respectively")

x = 3.0, j = 3 and their data types are <class 'float'> and <class 'int'>, respectively

**It is important to remember to convert strings typed in using the input function into the appropriate data types:**

In [14]:
input()
scoreString = input("Enter a score between 0 and 100:")
scoreFloat = float(scoreString)
print(f"You typed {scoreFloat}")

Enter a score between 0 and 100:3.33
You typed 3.33

In [ ]:
input("Enter your name")

<a id='math'></a>
## Python "math" package
* You can import packages written by other developers and make them available for use in your code. 
* This is achieved using the "import" command, followed by the name of the package

In [15]:
abs(-3.3)   # this uses Python built-in "abs" function

3.3

In [16]:
import math  #this imports the "math" package and makes several mathematical functions available
#import math as mt

In [ ]:
math.sin(60)
#mt.sin(60)

In [ ]:
math.sqrt(25)

In [ ]:
math.exp(-0.1)

In [ ]:
math.log(math.exp(1.0))   #math.log() returns the natural logarithm and not the log to base 10

In [ ]:
math.log10(100)   #this returns the log to base 10

In [ ]:
math.pi  #prints out the value of pi

<a id='string'></a>
## Strings

In [1]:
z='hello'
type(z)

str

In [2]:
my_str = 'Hello World'

In [3]:
print(my_str); len(my_str)   #You can write multiple lines of code on one line and separate them with a semicolon (;)

Hello World

11

In [4]:
len(my_str); print(len(my_str)) #The in-built Python function len() returns the length/number of characters in a string

11

In [5]:
#indexing starts at 0 in Python! So index 1 will correspond to the 2nd element in the string!
print(my_str[0]); print(my_str[1]); print(my_str[10])

H
e
d

In [6]:
#string slicing
print(my_str[1:4])  #Ranges in Python ([1:4]) include the first index (1) but exclude the 2nd number (4)
print(my_str[:])
print(my_str[1:])

ell
Hello World
ello World

In [41]:
#string split
s1, s2 = my_str.split()   #The split() function splits strings using the "space" character by default
print(s1); print(s2)
a = "Hello, World!"
s3, s4 = a.split(",")     #Here, the string delimiter is specificied as the comma (,)
print(f"s3 = {s3} and s4 = {s4}")  # returns ['Hello', ' World!']
print(a.split(",") )      #Shows clearly that the space is stored as part of s4

Hello
World
s3 = Hello and s4 =  World!
['Hello', ' World!']

In [8]:
print(a.replace("H", "J"))  #The replace() method replaces a string with another string

Jello, World!

In [9]:
#string concatenation
a = "Hello"
b = "World"
c = a + " " + b # + acts as a concatenation operator in strings. It merges a with a space, and the merges that with b
print(c)

Hello World

In [44]:
#more string operations
my_str="Hello World"
print(my_str.upper())       #Converts my_str to upper case
print(my_str.lower())       #Converts my_str to lower case

HELLO WORLD
hello world

In [15]:
myStr = " Hello, World! "
print(myStr.strip()) # returns "Hello, World!"#The strip() method removes any whitespace from the beginning or the end:

Hello, World!

<a id='list'></a>
## Lists
* A list is a collection of data which is ordered and changeable. 
* It allows duplicate members.
* It is mutable, meaning that its elements/members can be modified in place without creating a new object
* It is commonly used to store homogeneous values like numbers or strings with the same data type
* Its members are accessed like strings
* It is one of the four collection data types in the Python.
    * the others are tuple, set and dictionary

In [16]:
myList = [1,2,9,4]
print(myList)
#how do you find its data type?
type(myList)

[1, 2, 9, 4]

list

In [17]:
fruitList = ["apple", "banana", "cherry"]
print(fruitList)
print(fruitList[0]) #access first element. Python indexing starts at 0, and ends at n-1

['apple', 'banana', 'cherry']
apple

In [18]:
#Negative Indexing
#Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
print(fruitList[-1])

cherry

In [27]:
fruitList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitList[1:4])  #indexing starts and 0 in Python. The 5th item in the list will not be included
print(fruitList[-4:-1]) #again the last item (at index -1) will not be included

['banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [28]:
fruitList[1] = "blackcurrant"  #this replaces "banana" with "blackcurrant". Index of 1 corresponds to 2nd element
print(fruitList)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [29]:
#append more members at the end of a list
fruitList.append("orange")   #this appends orange to the end of the list even though orange is already in the list
print(fruitList)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [30]:
#remove item from list
fruitList.remove("cherry")
fruitList.remove("melon")
fruitList.remove("kiwi")
fruitList.remove("orange")  #removes first occurence of "orange" in the list
print(fruitList)

['apple', 'blackcurrant', 'mango', 'orange']

In [31]:
#insert elements into a list at specified positions
fruitList.insert(2,"melon"); print(fruitList)
fruitList.clear()   #the clear() function empties the list. The list still exists, but is empty
print(fruitList)
del fruitList         #del can also delete the list completely. The list will cease to exist
#What happens if you run print(fruitList) at this point?

['apple', 'blackcurrant', 'melon', 'mango', 'orange']
[]

In [47]:
#Two different ways of creating an empty list
newList = list()
print(newList)
newList2 = []
print(newList2)

[]
[]

In [32]:
#The list() constructor can be used to create a list from a range.
intRange = range(-4,12,4)  #Format of range() is range(start, stop, increment). 12 is not included in range
intList = list(intRange)  
print(intList)
type(intRange)

[-4, 0, 4, 8]

range

In [33]:
#Contatenate lists
print(intList + intList)  #concatenates intList with intList. Hence, intList is repeated
print(intList * 2)         #repeats intList. Result is twice the length of intList
print(intList * 3)         #repeats intList two times. Result is three times the length of intList

[-4, 0, 4, 8, -4, 0, 4, 8]
[-4, 0, 4, 8, -4, 0, 4, 8]
[-4, 0, 4, 8, -4, 0, 4, 8, -4, 0, 4, 8]

In [34]:
# modifying the integer list
del intList[0]; print(intList)
intList.append(99); print(intList)
intList.insert(1, 100); print(intList)

[0, 4, 8]
[0, 4, 8, 99]
[0, 100, 4, 8, 99]

In [35]:
#Sorting and reversing the list
intList.sort();    #The sort() method arranges the elements of the list in ascending order
print(intList)
intList.reverse(); #The reverse() method reverses the elements of the list
print(intList)

[0, 4, 8, 99, 100]
[100, 99, 8, 4, 0]

* You cannot copy a list simply by typing list2 = list1
* list2 = list1 only makes list2 point to the same location in memory where list1 is stored. 
    * In computer programming terminology, we say that list2 is "a reference to" list 1
    * changes to list1 will automatically be reflected in list2
    * changes to list2 will also be automatically reflected in list1
* To copy and store list1 in list3, we use the built-in List method copy().

In [36]:
list1 = ["STOIIP", "Area", "Porosity", "Permeability"];
list2 = list1           #list2 is a reference to list1
list3 = list1.copy()    #list3 is a copy of list1. list3 gets stored in a different location in the computer's memory

print(list1 is list2)   #this tests if list1 is the same object as list2
print(list1 is list3)   #this tests if list1 is the same object as list3
print(list1 == list3)   #this tests if the contents of list1 is equivalent to the contents of list3

list1[0] = "Oil_Volume"
print(list2)            #list1 is changed, but this means that the value referenced by list2 is changed

list2[1] = "Rerservoir_Area"
print(list1)            #list2 is changed, but this means that the value referenced by list1 is changed
print(list3)            #list3 is just a copy of the original values stored in list1, and was never updated

True
False
True
['Oil_Volume', 'Area', 'Porosity', 'Permeability']
['Oil_Volume', 'Rerservoir_Area', 'Porosity', 'Permeability']
['STOIIP', 'Area', 'Porosity', 'Permeability']

In [ ]:
#Lists can contain a mix of strings and numbers 
testList = ["density",'viscosity',5.2, 3]
print(testList)

<a id='tuple'></a>
## Tuples
  * A tuple is a collection which is ordered and unchangeable. 
  * In Python tuples are usually written with round brackets.
  * Why Tuple?
      * Tuples are processed faster than lists

Suprising Trait:

Python tuples are immutable, but their values may change. This may happen when a tuple holds a reference to any mutable object, such as a list.

In [48]:
#empty tuples
my_tup = ()
print(my_tup)
print(type(my_tup))

()
<class 'tuple'>

In [50]:
# you have to include a comma, even though there is only one value
tup1 = (50,)   #The comma is really what defines a tuple
print(tup1)
myTuple = 50,  #This shows that the comma is really what defines a tuple. The brackets are optional
print(myTuple)

(50,)
(50,)

In [51]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup    #Recall this?  Multiple variable assignment uses tuples
print(a, b, c, d)

(2, 8, 3, 1)
2 8 3 1

In [52]:
#my_tup[0] = 3  #This code will fail because tuples are immutable
#Python will also not allow you to insert items into or remove items from a tuple
#You can contatenate two tuples using the + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [53]:
print(my_tup[0])     #You can access tuple items by referring to the index number, inside square brackets
print(my_tup[-1])    #this works just like in lists. It accesses the last item stored in my_tup
print(my_tup[-4:-1]) #also works like in lists.

2
1
(2, 8, 3)

In [54]:
tup = ('physics', 'chemistry', 1997, 2000) #tuples can contain a mix of strings and numbers
print(tup)
del tup   #You can delete a tuple completely
# what do you expect if the line below is run?
#print(tup)

('physics', 'chemistry', 1997, 2000)

Even though tuples are immutable, you can change mutable objects stored in tuples!

In [55]:
dum = ('1861-10-23', ['poetry', 'pretend-fight']) #this tuple contains a list as its 2nd item
dee = ('1861-10-23', ['poetry', 'pretend-fight'])

print(dum == dee)
print(dum is dee)  #dum is not dee because they point to different computer memory locations

True
False

* The id() function returns a unique id for the specified object.
* Every object in Python has its own unique id.
* The id is assigned to the object when it is created.
* The id is the object's memory address, and will be different each time you run the program (except for some object that has a constant unique id, like integers from -5 to 256).

In [56]:
id(dum), id(dee)

(4498155528, 4498365512)

In [58]:
t_doom = dum   #this "passes a reference" to dum into the variable "t_doom"
print(dum, t_doom) #this prints a tuple made of the two tuples- dum and t_doom (which are actually identical)

print(t_doom == dum)
print(t_doom is dum)

('1861-10-23', ['poetry', 'pretend-fight']) ('1861-10-23', ['poetry', 'pretend-fight'])
True
True

In [59]:
# The assignment operator isn't always a "pass by reference" for all data types. 
# For integers, floats, and other numbers, it "copies or passes the value" stored in the variable into the new variable
x = 3 
y = x  #x is copied by value into y. y will eventually refer to a different location in memory
z = 4.3
y = 5.2
id(x), id(y), id(z)

(4463318512, 4496915816, 4496916320)

In [60]:
#Exercise
#what do you expect from these lines of code?
skills = t_doom[1]
print(skills)

skills.append('rap')
print(t_doom)

print(dum)
print(dum == dee)

['poetry', 'pretend-fight']
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])
False

* These lines of codes shows that even though tuples are said to be immutable, the list stored in the tuple can be changed because lists are mutable
* We basically modified the list that is stored in the tuple, and the modification shows up in the tuple that contains the list

<a id='dic'></a>
## Dictionaries
* A dictionary is a collection which is unordered, changeable and indexed 
* In Python dictionaries are written with curly brackets, and they have keys and values
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous, unlike list
* Element are accessed by a keyword, not index
* Elements are mutable 
* dict = {"key1”: value1,  “key2”: value2}

In [61]:
my_dict = {'cats': 4, 'dogs':2, 'sheep':3}
print(my_dict)

{'cats': 4, 'dogs': 2, 'sheep': 3}

In [62]:
print(my_dict["cats"])

4

In [63]:
my_dict['horse'] = 3     #this adds a new key-value pair into my_dict
print(my_dict)
print(sorted(my_dict))

{'cats': 4, 'dogs': 2, 'sheep': 3, 'horse': 3}
['cats', 'dogs', 'horse', 'sheep']

In [64]:
print(my_dict.keys())
print(my_dict.values())
print(sorted(my_dict.values()))

dict_keys(['cats', 'dogs', 'sheep', 'horse'])
dict_values([4, 2, 3, 3])
[2, 3, 3, 4]

In [65]:
my_dict2 = my_dict          #this passes a reference to my_dict into my_dict2
my_dict3 = my_dict.copy()   #this stores a copy of my_dict into my_dict3 (copies by value).
id(my_dict),id(my_dict2),id(my_dict3)
#print(my_dict)

(4500137448, 4500137448, 4500136584)

In [66]:
my_dict.pop("horse") #The pop() method removes the item with the specified key name
print(my_dict)

{'cats': 4, 'dogs': 2, 'sheep': 3}