
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 29, 2019)

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die three times**

In [1]:
import numpy as np
import itertools
import pandas as pd
x=int(input("Enter number of times to roll the die:"))
numList = list(range(1,7))
resultList1 = list(itertools.product(numList,repeat=x))
print(f"Total number of outcomes = {len(resultList1)}")
resultArray = np.array(resultList1)
sumOutcomes = np.sum(resultArray, axis=1)
df1 = pd.DataFrame({"outcomes":resultList1,"sumOutcomes":sumOutcomes})
by_sumOutcomes = df1.groupby("sumOutcomes")
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df1["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

Enter number of times to roll the die:2
Total number of outcomes = 36

    sum  outcomes  probability
0     2         1     0.027778
1     3         2     0.055556
2     4         3     0.083333
3     5         4     0.111111
4     6         5     0.138889
5     7         6     0.166667
6     8         5     0.138889
7     9         4     0.111111
8    10         3     0.083333
9    11         2     0.055556
10   12         1     0.027778

3. **In class, we discussed the fundamental principle of counting. If there are n1 ways to perform the first operation, n2 ways to perform the second operation, n3 ways to perform the third operation, ..., and nk ways to perform the k-th operation, the total number of ways to perform the k operations is n1(n2)(n3)...(nk). Write a Python code that reads in n1,n2,n3,...,nk as comma-separated values using the input function. Compute the total number of ways to perform the the k operations the user of your program enters. For example, to read in 4 operations with 3,2,1, and 4 outcoumes. You will type "3,2,1,4" after the prompt asks you for the list of outcomes. **

In [2]:
outcomeString = input("Provide list of outcomes: ")
outcomeList = outcomeString.split(",")

Provide list of outcomes: 3,3,3

In [3]:
print(outcomeList)
k = len(outcomeList)
print(k)
curProd = 1
for n_i in outcomeList:
    curProd = int(n_i)*curProd
print(curProd)

['3', '3', '3']
3
27